.container-fluid
  .products__container
    %h1 Browse all our products
    .row
      - @products.each do |product|
        .col-xs-12.col-sm-6.col-lg-4
          = render partial: 'products/card', locals: { product: product }

  = link_to 'New Product', new_product_path, class: 'btn btn-primary'
